<section class="about">
    <div class="about-h">
        <!-- <div>
            <h1>About</h1>      
        </div> -->
        <div class="ah">
            <p>About <span style="color: #ff6f6f;">Me</span></p>   
        </div>
    </div>
    <div class="my">
        <div class="myself">
            <p>I'm a Java Fullstack Developer with expertise in Java, Spring Boot, React.js,
                 and modern web technologies, passionate about building scalable applications
                  with seamless user experiences. Currently, I work at Cognizant as an 
                  Analyst Trainee, gaining hands-on experience in Data Modeling, 
                  Informatica PowerCenter, IICS, ETL, Python, Big Data, and Data Warehousing.
                   I am eager to advance my skills in full-stack development and data 
                   integration while contributing to impactful projects using cutting-edge 
                   technologies.</p>
            <div class="my-info">
                <p><b>Full Name :</b> Chikoti PavanKumar</p>
                <p><b>Email :</b> pavanchikoti1310&#64;gmail.com</p>
                <p><b>Phone No :</b> +91 9502367121</p>
                <p><b>Address :</b> Siddipet,Telangana,India</p>
            </div>
            <div class="sicon">
                <button class="github" (click)="openGithub()">
                    <svg viewBox="0 0 24 24" fill="currentColor" height="28" width="28" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 
                            8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 
                            9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 
                            17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 
                            15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 
                            18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 
                            16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 
                            9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598
                            6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 
                            6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 
                            6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 
                            9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 
                            16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 
                            20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 
                            20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z">
                        </path>
                    </svg>
                    <span>GitHub</span>
                </button>
                <button class="linked" (click)="openLinkedIn()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-twitter"
                        viewBox="0 0 24 24">
                        <path
                            d="M18.3362 18.339H15.6707V14.1622C15.6707 13.1662 15.6505 11.8845 14.2817 11.8845C12.892 11.8845 12.6797 
                            12.9683 12.6797 14.0887V18.339H10.0142V9.75H12.5747V10.9207H12.6092C12.967 10.2457 13.837 9.53325 15.1367 
                            9.53325C17.8375 9.53325 18.337 11.3108 18.337 13.6245V18.339H18.3362ZM7.00373 8.57475C6.14573 8.57475 5.45648 
                            7.88025 5.45648 7.026C5.45648 6.1725 6.14648 5.47875 7.00373 5.47875C7.85873 5.47875 8.55173 6.1725 8.55173 
                            7.026C8.55173 7.88025 7.85798 8.57475 7.00373 8.57475ZM8.34023 18.339H5.66723V9.75H8.34023V18.339ZM19.6697 
                            3H4.32923C3.59498 3 3.00098 3.5805 3.00098 4.29675V19.7033C3.00098 20.4202 3.59498 21 4.32923 
                            21H19.6675C20.401 21 21.001 20.4202 21.001 19.7033V4.29675C21.001 3.5805 20.401 3 19.6675 3H19.6697Z">
                        </path>
                    </svg>
                    <span>LinkedIn</span>
                </button>
            </div>
        </div>
        <div class="skills">
            <div class="skill-box">
                <div class="card aboutcard">             
                    <div class="icon-wrapper">
                      <img src="assets/images/htmlicon.png" alt="HTML5 Icon" width="100px" height="100px" class="icon-image" />
                    </div>                
                </div>
                <div class="bg1"></div>
                <div class="bg2"></div>
            </div>
            <div class="skill-box">
                <div class="card aboutcard">
                    <div class="icon-wrapper">
                      <img src="assets/images/cssicon.svg" alt="HTML5 Icon" width="100px" height="100px" class="icon-image" />
                    </div>          
                </div>
                <div class="bg1"></div>
                <div class="bg2"></div>
            </div>
            <div class="skill-box">
                <div class="card aboutcard">
                    <div class="icon-wrapper">
                      <img src="assets/images/javascripticon.svg" alt="HTML5 Icon" width="100px" height="100px" class="icon-image" />
                    </div>                
                </div>
                <div class="bg1"></div>
                <div class="bg2"></div>
            </div>
            <div class="skill-box">
                <div class="card aboutcard">
                    <div class="icon-wrapper">
                      <img src="assets/images/reactjs.svg" alt="HTML5 Icon" width="100px" height="100px" class="icon-image" />
                    </div>           
                </div>
                <div class="bg1"></div>
                <div class="bg2"></div>
            </div>
            <div class="skill-box">
                <div class="card aboutcard">
                    <div class="icon-wrapper">
                      <img src="assets/images/javaicon.png" alt="HTML5 Icon" width="100px" height="100px" class="icon-image" />
                    </div>          
                </div>
                <div class="bg1"></div>
                <div class="bg2"></div>
            </div>
            <div class="skill-box">
                <div class="card aboutcard">
                    <div class="icon-wrapper">
                      <img src="assets/images/springbooticon.png" alt="HTML5 Icon" width="100px" height="100px" class="icon-image" />
                    </div>             
                </div>
                <div class="bg1"></div>
                <div class="bg2"></div>
            </div>
            <div class="skill-box">
                <div class="card aboutcard">
                    <div class="icon-wrapper">
                      <img src="assets/images/bootstrap.svg" alt="HTML5 Icon" width="100px" height="100px" class="icon-image" />
                    </div>                
                </div>
                <div class="bg1"></div>
                <div class="bg2"></div>
            </div>
            <div class="skill-box">
                <div class="card aboutcard">   
                    <div class="icon-wrapper">
                      <img src="assets/images/git.svg" alt="HTML5 Icon" width="100px" height="100px" class="icon-image" />
                    </div>            
                </div>
                <div class="bg1"></div>
                <div class="bg2"></div>
            </div>
            <div class="skill-box">
                <div class="card aboutcard">
                    <div class="icon-wrapper">
                      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - 
                        https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                        <path d="M281.7 332.1L357.9 332.1L319.8 240.5L281.7 332.1zM319.8 96L112 170.4L143.8 446.1L319.8 544L495.8 
                        446.1L527.6 170.4L319.8 96zM450 437.8L401.4 437.8L375.2 372.4L264.6 372.4L238.4 437.8L189.7 437.8L319.8 
                        145.5L450 437.8z"/></svg>
                    </div>          
                </div>
                <div class="bg1"></div>
                <div class="bg2"></div>
            </div>
            <div class="skill-box">
                <div class="card aboutcard">
                    <div class="icon-wrapper">
                      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                        <path d="M535.8 264.5C528.1 233.6 513.5 210.3 482.4 210.3L442.3 
                        210.3L442.3 257.7C442.3 294.5 411.1 325.5 375.5 325.5L268.7 325.5C239.5
                         325.5 215.3 350.5 215.3 379.8L215.3 481.6C215.3 510.6 240.5 527.6 268.7 
                         535.9C302.5 545.8 335 547.6 375.5 535.9C402.4 528.1 428.9 512.4 428.9 
                         481.6L428.9 440.9L322.2 440.9L322.2 427.3L482.4 427.3C513.5 427.3 525 
                         405.6 535.8 373.1C547 339.6 546.5 307.4 535.8 264.5zM382.2 508.7C374.6 
                         509.2 367.3 505.5 363.3 499C359.4 492.4 359.4 484.3 363.3 477.7C367.3 471.2 
                         374.6 467.5 382.2 468C389.8 467.5 397.1 471.2 401.1 477.7C405 484.3 405 492.4 
                         401.1 499C397.1 505.5 389.8 509.2 382.2 508.7zM263.8 312.1L370.6 312.1C400.3 312.1 
                         424 287.6 424 257.8L424 155.9C424 126.9 399.6 105.2 370.6 100.3C334.8 94.4 295.9 94.7 
                         263.8 100.4C218.6 108.4 210.4 125.1 210.4 156L210.4 196.7L317.3 196.7L317.3 210.3L170.3 
                         210.3C139.2 210.3 112 229 103.5 264.5C93.7 305.2 93.3 330.6 103.5 373.1C111.1 404.7 129.2 
                         427.3 160.3 427.3L197 427.3L197 378.5C197 343.2 227.5 312.1 263.8 312.1zM257.2 128.7C268.5 
                         128.7 277.6 137.8 277.6 149.1C277.6 160.4 268.5 169.5 257.2 169.5C245.9 169.5 236.8 160.4 
                         236.8 149.1C236.8 137.8 245.9 128.7 257.2 128.7z"/></svg>
                    </div>            
                </div>
                <div class="bg1"></div>
                <div class="bg2"></div>
            </div>
            <div class="skill-box">
                <div class="card aboutcard">
                    <div class="icon-wrapper">
                      <img src="assets/images/in1.png" alt="HTML5 Icon" width="100px" height="100px" class="icon-image" />
                    </div>                           
                </div>
                <div class="bg1"></div>
                <div class="bg2"></div>
            </div>
        </div>
    </div>
</section>
