<section class="header-n">
    <header>
        <nav class="navbar fixed-top">
            <div class="container-fluid">
              <button class="navbar-toggler svgicon" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="25px" viewBox="0 0 24 24" fill="none" class="injected-svg svg_img" data-src="assets/img/icons/menu.svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" style="width: 30px">
                    <path d="M17.5399 8.30989C18.8986 8.30989 20 7.20851 20 5.84989C20 4.49127 18.8986 3.38989 17.5399 3.38989C16.1813 3.38989 15.08 4.49127 15.08 5.84989C15.08 7.20851 16.1813 8.30989 17.5399 8.30989Z" stroke="#8c6fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M6.46001 8.30989C7.81863 8.30989 8.92 7.20851 8.92 5.84989C8.92 4.49127 7.81863 3.38989 6.46001 3.38989C5.10139 3.38989 4 4.49127 4 5.84989C4 7.20851 5.10139 8.30989 6.46001 8.30989Z" stroke="#ff6f6f" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M17.5399 20.6099C18.8986 20.6099 20 19.5086 20 18.1499C20 16.7913 18.8986 15.6899 17.5399 15.6899C16.1813 15.6899 15.08 16.7913 15.08 18.1499C15.08 19.5086 16.1813 20.6099 17.5399 20.6099Z" stroke="#ff6f6f" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M6.46001 20.6099C7.81863 20.6099 8.92 19.5086 8.92 18.1499C8.92 16.7913 7.81863 15.6899 6.46001 15.6899C5.10139 15.6899 4 16.7913 4 18.1499C4 19.5086 5.10139 20.6099 6.46001 20.6099Z" stroke="#ff6f6f" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg> 
              </button>
              <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="Togglebtn">
                  <label class="switch">
                    <input id="input" type="checkbox" checked (change)="toggleTheme($event)"/>
                    <div class="slider round">
                      <div class="sun-moon">
                        <svg id="moon-dot-1" class="moon-dot" viewBox="0 0 100 100">
                          <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                        <svg id="moon-dot-2" class="moon-dot" viewBox="0 0 100 100">
                          <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                        <svg id="moon-dot-3" class="moon-dot" viewBox="0 0 100 100">
                          <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                        <svg id="light-ray-1" class="light-ray" viewBox="0 0 100 100">
                          <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                        <svg id="light-ray-2" class="light-ray" viewBox="0 0 100 100">
                          <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                        <svg id="light-ray-3" class="light-ray" viewBox="0 0 100 100">
                          <circle cx="50" cy="50" r="50"></circle>
                        </svg>

                        <svg id="cloud-1" class="cloud-dark" viewBox="0 0 100 100">
                          <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                        <svg id="cloud-2" class="cloud-dark" viewBox="0 0 100 100">
                          <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                        <svg id="cloud-3" class="cloud-dark" viewBox="0 0 100 100">
                          <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                        <svg id="cloud-4" class="cloud-light" viewBox="0 0 100 100">
                          <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                        <svg id="cloud-5" class="cloud-light" viewBox="0 0 100 100">
                          <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                        <svg id="cloud-6" class="cloud-light" viewBox="0 0 100 100">
                          <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                      </div>
                      <div class="stars">
                        <svg id="star-1" class="star" viewBox="0 0 20 20">
                          <path
                            d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z"
                          ></path>
                        </svg>
                        <svg id="star-2" class="star" viewBox="0 0 20 20">
                          <path
                            d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z"
                          ></path>
                        </svg>
                        <svg id="star-3" class="star" viewBox="0 0 20 20">
                          <path
                            d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z"
                          ></path>
                        </svg>
                        <svg id="star-4" class="star" viewBox="0 0 20 20">
                          <path
                            d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z"
                          ></path>
                        </svg>
                      </div>
                    </div>
                  </label>
                </div>
                <div class="offcanvas-header">
                  <button type="button" class="btnclose" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/" fragment="home">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/" fragment="about">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/" fragment="resume">Resume</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/" fragment="project">Project</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/" fragment="contact">Contact</a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </nav>
    </header>
   
</section>