<section class="resume">
    <div class="resume-h">
        <div>
            <h1>Achievements</h1>      
        </div>
        <div class="rh">
            <p>My <span style="color: #ff6f6f;">Resume</span></p>   
        </div>
    </div>
    <div>
        <div class="timeline-container">

            <div class="timeline-card">
                <div class="timeline-date">May 6, 2025</div>
                <div class="timeline-content">
                <h3><span class="highlight">Cognizant</span> <span class="erole"> - Analyst Trainee</span></h3>
                <p>
                    where I am gaining valuable industry experience and enhancing my technical and 
                    professional skills in ETL processes, Data Warehousing, Big Data, and Data Modeling.
                </p>
                </div>
            </div>

            <div class="timeline-card">
                <div class="timeline-date">Jul 2024-Oct 2024</div>
                <div class="timeline-content">
                <h3><span class="highlight">Ai Variant</span> <span class="erole"> - Java FullStack Developer Intern</span></h3>
                <p>
                   > Developed and tested full-stack applications using Java, SpringBoot, and 
                   front-end technologies including HTML5, CSS3, and ReactJS.<br>
                   > Collaborated with a team to design, develop, and deploy a web application, 
                    enhancing user engagement and accessibility. <br>
                   > Gained hands-on experience in implementing RESTful APIs 
                    and integrating front-end with back end databases.
                </p>
                </div>
            </div>

            <div class="timeline-card">
                <div class="timeline-date">certification</div>
                <div class="timeline-content">
                <p><span class="highlight">FullStack Java Developer </span>
                    <span class="erole"> - ExcelR</span></p>
                <p><span class="highlight">Programming Foundations with Javascript,Html and css </span>
                    <span class="erole"> - Coursera</span></p>
                </div>
            </div>

            <div class="timeline-card">
                <div class="timeline-date">Education</div>
                <div class="timeline-content">
                <h3><span class="highlight">Bachelor in Computer Science</span><span class="erole"> - 2020-23</span></h3>
                <p>
                    > Secured a CGPA of 7.93 in MPCs during graduation at Government Degree College (Autonomous), Siddipet.
                </p>
                </div>
            </div>
        </div>
    </div>
</section>
